.error {
	border-color: #d50000;
}
.error-message {
	color: #d50000;
	font-style: italic;
	margin-bottom: 1.1em;
}

.titulo{
	margin-bottom: 12px;
	bottom: 1rem;
}

.mdl-card__supporting-text{
	font-weight: 600 ;
    display: grid;
  	grid-template-columns: repeat(2, 1fr);
  	gap: 1px;
	width: 100%;
}

.container_inputs{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

 .mdl-shadow--2dp {
	width: 99rem;
	margin-left: -30rem;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}


.mdl-card__title.mdl-card--border {
  border-bottom: 1px solid rgba(0,0,0,.1);
  justify-content: center;
} 

.input-group, .form-floating, .mdl-textfield {
    width: 100%; 
}

.d-grid {
	display: grid !important;
	justify-content: center;
	margin-right: -4rem;
	margin-top: 1.5rem;
}

.membrete-footer{
	position: fixed;
	bottom: -27px;
	left: 0;
	width: 114rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 150px;
	display: flex;
	justify-content: center;
	height: 100px;
}

.cintillo-header{
	background-size: cover; /* Ajusta la imagen para cubrir todo el header */
	background-position: center; /* Centra la imagen */
	height: 64px; /* Altura del header */
	display: flex;
	align-items: center; /* Centra verticalmente el contenido del header */
	justify-content: center; /* Centra horizontalmente el contenido del header */
	color: white; /* Color del texto */
	text-align: center;
	position: fixed;
	width: 100%;
}

.mdl-card__title {
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	color: #000;
	display: block;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: stretch;
	-ms-flex-pack: stretch;
	justify-content: stretch;
	line-height: normal;
	padding: 7px;
	-webkit-perspective-origin: 165px 56px;
	perspective-origin: 165px 56px;
	-webkit-transform-origin: 165px 56px;
	transform-origin: 165px 56px;
	box-sizing: border-box;
}

.mdl-textfield {
	position: relative;
	font-size: 16px;
	display: inline-block;
	box-sizing: border-box;
	max-width: 100%;
	margin: 0;
	padding: 9px 0;
}

@media (min-width: 840px) {
	.mdl-grid {
	  padding: 8px;
	  margin-top: 4rem;
	}
}

@media (max-width: 600px) {
    footer {
        padding: 10px; /* Reduce el espaciado en pantallas pequeñas */
    }
}
