.error {
	border-color: #d50000;
}
.error-message {
	color: #d50000;
	font-style: italic;
	margin-bottom: 1.1em;
}

.mdl-card__supporting-text{
	font-weight: 600 ;
	display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; 
}

 .mdl-shadow--2dp {
	width: 99rem;
	margin-left: -30rem;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.mdl-card__title.mdl-card--border {
  border-bottom: 1px solid rgba(0,0,0,.1);
  justify-content: center;
} 

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; 
}

.input-group, .form-floating, .mdl-textfield {
    width: 100%; 
}

.d-grid {
	display: grid !important;
	justify-content: center;
	margin-right: -46rem;
}

.membrete-footer{
	position: fixed;
	bottom: -17px;
	left: 0;
	width: 114rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 150px;
	display: flex;
	justify-content: center;
	height: 100px;
}

.cintillo-header{
	background-size: cover; /* Ajusta la imagen para cubrir todo el header */
	background-position: center; /* Centra la imagen */
	height: 86px; /* Altura del header */
	display: flex;
	align-items: center; /* Centra verticalmente el contenido del header */
	justify-content: center; /* Centra horizontalmente el contenido del header */
	color: white; /* Color del texto */
	text-align: center;
	position: fixed;
	width: 100%;
}

@media (min-width: 840px) {
	.mdl-grid {
	  padding: 8px;
	  margin-top: 6.2rem;
	}
}

@media (max-width: 600px) {
    footer {
        padding: 10px; /* Reduce el espaciado en pantallas pequeñas */
    }
}
